.text{
    position: relative;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 600;
    color: black;
    padding-left: 4rem;
    padding-right: 1rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.text:hover{
    background: #5027bf19;
}
.icon{
    position: absolute;
    left: 1.6rem;
}

.submenu{
    padding-left: 1.6rem;
}
.marker{
    position: absolute;
    right: 0;
    top:0.1rem;
    bottom: 0.1rem;
    width: 0.15rem;
    background: #4F27BF;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.shevronUp{
    transition: 0.2s;
    transform: rotate(180deg);
}
.shevronDown{
    transition: 0.2s;
}