.menu {
    width: 15rem;
    flex-shrink: 0;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
    transition: all;
    transition-duration: 0.1s;
}
.title {
    margin: 1.2rem 1.6rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: #1c1c1e;
}
.closed {
    width: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all;
    transition-duration: 0.1s;
}

@media (max-width: 768px) {
    .menu {
        position: absolute;
        z-index: 2;
    }
}
