.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 12rem;
    background: var(--main-color);
    border-radius: 10px;
    color: var(--button-text-color);
    font-weight: 700;
    font-size: 1.3rem;
    box-sizing: border-box;
    transition: all;
    transition-duration: 0.3s;
}

.button:active{
    background: black;
}