.container {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
}
h2 {
    margin-bottom: 16px;
}
.message {
    color: red;
    opacity: 0.6;
    font-size: 0.8rem;
}

@media (max-width: 500px) {
    .form {
        flex-direction: column;
    }
}
