.container {
    padding: 32px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
}
h2 {
    margin-bottom: 16px;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.input {
    font-size: 1rem;
    line-height: 1.2rem;
    border: 3px solid #4f27bf;
    border-radius: 10px;
    height: 3.5rem;
    width: 100%;
    padding: 0 1.2rem;
    margin-right: 24px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background: #4f27bf;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0 2rem;
}
.list {
    box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
    border-radius: 10px;
    padding: 24px;
    margin-top: 24px;
}
.list li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0.8rem 0;
    border-top: 1px solid #D7D7D7;;
}
.message{
    color:red;
    opacity: 0.6;
    font-size: 0.8rem;
}

@media (max-width:500px) {
    .form {
        flex-direction: column;
    }
    .input {
        margin-right: 0;
        margin-bottom: 24px;
    }
}