.background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: all;
    transition-duration: 0.3s;

    animation-name: open;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    z-index: 25;
}

@keyframes open {
    0% {
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        border-radius: 1rem;
        opacity: 0;
    }
    100% {
    }
}
.content{
    margin: 10%;
}
.close {
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    border-radius: 1rem;
    opacity: 0;
}
