.container {
    padding: 32px;
}
h2 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #1c1c1e;
}
p {
    margin-top: 1.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #1c1c1e;
}
.a {
    color: #002bc5;
    text-decoration: underline;
}
