
h2 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--text-color);
    transition: all 500ms;

}
p {
    margin-top: 1.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--text-color);
    transition: all 500ms;
}
.a {
    color: #002bc5;
    text-decoration: underline;
}
