.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    margin-left: 16px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--header-text-color);
    transition: all 500ms;
}
