@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700;800;900&display=swap");
.container {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bacground-color);
}
.body {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--bacground-color);
}
.content {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    padding: 32px;
    background-color: var(--bacground-color);
}
@media (max-width: 480px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 20px;
    }
}

html[data-theme="dark"] {
    --main-color: #4f27bf;
    --bacground-color: rgb(43, 48, 59);
    --bacground-element-color: rgb(28, 31, 38);
    --text-color: rgb(190, 190, 206);
    --menu-hover-color: rgba(1, 0, 0, 0.772);
    --header-text-color: var(--main-color);
    --header-background-color: var(--bacground-element-color);
    --input-bacground-color: rgb(20, 23, 28);
    --button-text-color: var(--text-color)
}
html[data-theme="light"] {
    --main-color: #4f27bf;
    --bacground-color: rgb(255, 255, 255);
    --bacground-element-color: rgb(255, 255, 255);
    --text-color: #1c1c1e;
    --menu-hover-color: rgba(79, 39, 187, 0.098);
    --header-text-color: white;
    --input-bacground-color: white;
    --header-background-color: var(--main-color);
    --button-text-color: var(--header-text-color)

}
